@model IEnumerable<WatchShop.Models.Post>
<div class="container">
   @foreach(var item in Model)
   {
    <div class="border m-1">
        <h5><a href="~/@item.slug">@item.title</a></h5>
    </div>
     
   }
</div>
