
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<h2 class="container m-3">Vài lời giới thiệu be bé xinh xinh, ngắn gọn, xúc tích, dễ đọc, dex nhìn, và cực kì ức chế.</h2>

